In [3]:
# 1. Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler
from scipy import stats

# For Logistic Regression good for Interpretability
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score

In [7]:
# 2. Load the dataset
df = pd.read_csv(r'C:\Users\HP\Desktop\AI\Final Assignment\heart_attack_prediction_india.csv')

In [9]:
# 3. Basic data overview
print("Dataset shape:", df.shape)
print("First 5 rows:")
display(df.head())
print("Missing values per column:")
display(df.isnull().sum())

Dataset shape: (10000, 26)
First 5 rows:

,Patient_ID,State_Name,Age,Gender,Diabetes,Hypertension,Obesity,Smoking,Alcohol_Consumption,Physical_Activity,...,Diastolic_BP,Air_Pollution_Exposure,Family_History,Stress_Level,Healthcare_Access,Heart_Attack_History,Emergency_Response_Time,Annual_Income,Health_Insurance,Heart_Attack_Risk
0,1,Rajasthan,42,Female,0,0,1,1,0,0,...,119,1,0,4,0,0,157,611025,0,0
1,2,Himachal Pradesh,26,Male,0,0,0,0,1,1,...,115,0,0,7,0,0,331,174527,0,0
2,3,Assam,78,Male,0,0,1,0,0,1,...,117,0,1,10,1,0,186,1760112,1,0
3,4,Odisha,58,Male,1,0,1,0,0,1,...,65,0,0,1,1,1,324,1398213,0,0
4,5,Karnataka,22,Male,0,0,0,0,0,1,...,109,0,0,9,0,0,209,97987,0,1

Missing values per column:

Patient_ID                 0
State_Name                 0
Age                        0
Gender                     0
Diabetes                   0
Hypertension               0
Obesity                    0
Smoking                    0
Alcohol_Consumption        0
Physical_Activity          0
Diet_Score                 0
Cholesterol_Level          0
Triglyceride_Level         0
LDL_Level                  0
HDL_Level                  0
Systolic_BP                0
Diastolic_BP               0
Air_Pollution_Exposure     0
Family_History             0
Stress_Level               0
Healthcare_Access          0
Heart_Attack_History       0
Emergency_Response_Time    0
Annual_Income              0
Health_Insurance           0
Heart_Attack_Risk          0
dtype: int64

In [52]:
# Step 3: Initial Exploration
print(df.head())
print(df.info())

   Patient_ID       Age  Gender  Diabetes  Hypertension   Obesity   Smoking  \
0   -1.731878 -0.427960       0 -0.320022     -0.572577  1.514174  1.522449
1   -1.731531 -1.353916       1 -0.320022     -0.572577 -0.660426 -0.656837
2   -1.731185  1.655442       1 -0.320022     -0.572577  1.514174 -0.656837
4   -1.730492 -1.585405       1 -0.320022     -0.572577 -0.660426 -0.656837
5   -1.730146 -1.064554       1 -0.320022     -0.572577 -0.660426 -0.656837

   Alcohol_Consumption  Physical_Activity  Diet_Score  ...  State_Name_Odisha  \
0            -0.738321          -1.214093    1.260457  ...              False
1             1.354425           0.823660   -0.323708  ...              False
2            -0.738321           0.823660    0.309958  ...              False
4            -0.738321           0.823660   -0.006875  ...              False
5            -0.738321          -1.214093    0.626791  ...              False

   State_Name_Punjab  State_Name_Rajasthan  State_Name_Sikkim  \
0              False                  True              False
1              False                 False              False
2              False                 False              False
4              False                 False              False
5              False                 False              False

   State_Name_Tamil Nadu  State_Name_Telangana  State_Name_Tripura  \
0                  False                 False               False
1                  False                 False               False
2                  False                 False               False
4                  False                 False               False
5                  False                 False                True

   State_Name_Uttar Pradesh  State_Name_Uttarakhand  State_Name_West Bengal
0                     False                   False                   False
1                     False                   False                   False
2                     False                   False                   False
4                     False                   False                   False
5                     False                   False                   False

[5 rows x 52 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 9071 entries, 0 to 9999
Data columns (total 52 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patient_ID                    9071 non-null   float64
 1   Age                           9071 non-null   float64
 2   Gender                        9071 non-null   int32
 3   Diabetes                      9071 non-null   float64
 4   Hypertension                  9071 non-null   float64
 5   Obesity                       9071 non-null   float64
 6   Smoking                       9071 non-null   float64
 7   Alcohol_Consumption           9071 non-null   float64
 8   Physical_Activity             9071 non-null   float64
 9   Diet_Score                    9071 non-null   float64
 10  Cholesterol_Level             9071 non-null   float64
 11  Triglyceride_Level            9071 non-null   float64
 12  LDL_Level                     9071 non-null   float64
 13  HDL_Level                     9071 non-null   float64
 14  Systolic_BP                   9071 non-null   float64
 15  Diastolic_BP                  9071 non-null   float64
 16  Air_Pollution_Exposure        9071 non-null   float64
 17  Family_History                9071 non-null   float64
 18  Stress_Level                  9071 non-null   float64
 19  Healthcare_Access             9071 non-null   float64
 20  Heart_Attack_History          9071 non-null   float64
 21  Emergency_Response_Time       9071 non-null   float64
 22  Annual_Income                 9071 non-null   float64
 23  Health_Insurance              9071 non-null   float64
 24  Heart_Attack_Risk             9071 non-null   float64
 25  State_Name_Arunachal Pradesh  9071 non-null   bool
 26  State_Name_Assam              9071 non-null   bool
 27  State_Name_Bihar              9071 non-null   bool
 28  State_Name_Chhattisgarh       9071 non-null   bool
 29  State_Name_Goa                9071 non-null   bool
 30  State_Name_Gujarat            9071 non-null   bool
 31  State_Name_Haryana            9071 non-null   bool
 32  State_Name_Himachal Pradesh   9071 non-null   bool
 33  State_Name_Jharkhand          9071 non-null   bool
 34  State_Name_Karnataka          9071 non-null   bool
 35  State_Name_Kerala             9071 non-null   bool
 36  State_Name_Madhya Pradesh     9071 non-null   bool
 37  State_Name_Maharashtra        9071 non-null   bool
 38  State_Name_Manipur            9071 non-null   bool
 39  State_Name_Meghalaya          9071 non-null   bool
 40  State_Name_Mizoram            9071 non-null   bool
 41  State_Name_Nagaland           9071 non-null   bool
 42  State_Name_Odisha             9071 non-null   bool
 43  State_Name_Punjab             9071 non-null   bool
 44  State_Name_Rajasthan          9071 non-null   bool
 45  State_Name_Sikkim             9071 non-null   bool
 46  State_Name_Tamil Nadu         9071 non-null   bool
 47  State_Name_Telangana          9071 non-null   bool
 48  State_Name_Tripura            9071 non-null   bool
 49  State_Name_Uttar Pradesh      9071 non-null   bool
 50  State_Name_Uttarakhand        9071 non-null   bool
 51  State_Name_West Bengal        9071 non-null   bool
dtypes: bool(27), float64(24), int32(1)
memory usage: 2.0 MB
None

In [13]:
# # 4. Handle missing values
# # Fill numerical columns with mean
# num_cols = df.select_dtypes(include=['float64', 'int64']).columns
# # for col in num_cols:# Handle missing values
num_cols = df.select_dtypes(include=['number']).columns
cat_cols = df.select_dtypes(include=['object']).columns

# Fill numerical columns with mean
df[num_cols] = df[num_cols].apply(lambda col: col.fillna(col.mean()))


# #     df[col].fillna(df[col].mean(), inplace=True)
# for col in num_cols:
#     df[col].fillna(df[col].mean(), inplace=True)

In [15]:
# 5. Encode categorical variables
# Label Encoding for binary categories, One-Hot for others
label_enc = LabelEncoder()
for col in cat_cols:
    if df[col].nunique() == 2:
        df[col] = label_enc.fit_transform(df[col])
    else:
        df = pd.get_dummies(df, columns=[col], drop_first=True)

In [17]:
# 6. Normalize/Standardize numerical features
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [21]:
# 7. Detect and remove outliers (Z-score method)
z_scores = np.abs(stats.zscore(df[num_cols]))
df = df[(z_scores < 3).all(axis=1)]

print("Dataset shape after outlier removal:", df.shape)

Dataset shape after outlier removal: (9071, 52)

In [ ]:
# Import necessary libraries for EDA
import seaborn as sns
import matplotlib.pyplot as plt

# Set the style for the plots
sns.set(style="whitegrid")

In [7]:
# 2. Exploratory Data Analysis (EDA)
Analyze feature distributions
Histograms for numerical features
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns

plt.figure(figsize=(15, 10))
for i, col in enumerate(numerical_cols):
    plt.subplot(3, 3, i + 1)  # Adjust the number of rows and columns as needed
    sns.histplot(data[col], bins=30, kde=True)
    plt.title(f'Distribution of {col}')
plt.tight_layout()
plt.show()

SyntaxError: invalid syntax (4002986282.py, line 2)

In [9]:
# Boxplots for numerical features
plt.figure(figsize=(15, 10))
for i, col in enumerate(numerical_cols):
    plt.subplot(3, 3, i + 1)
    sns.boxplot(x=data[col])
    plt.title(f'Boxplot of {col}')
plt.tight_layout()
plt.show()

NameError: name 'numerical_cols' is not defined

In [11]:
# Identify correlations
correlation_matrix = data.corr()

NameError: name 'data' is not defined

In [13]:
# Correlation matrix heatmap
plt.figure(figsize=(12, 8))
sns.heatmap(correlation_matrix, annot=True, fmt=".2f", cmap='coolwarm', square=True, cbar_kws={"shrink": .8})
plt.title('Correlation Matrix')
plt.show()

NameError: name 'correlation_matrix' is not defined

In [42]:
# Understand relationships between target and predictors
# Assuming 'target' is the name of your target variable
target_variable = 'target'  # Replace with your actual target variable name

In [44]:
# Pairplot to visualize relationships
sns.pairplot(data, hue=target_variable)
plt.title('Pairplot of Features with Target Variable')
plt.show()

NameError: name 'data' is not defined

In [15]:
# Check for class imbalance
if data[target_variable].dtype == 'object' or data[target_variable].nunique() < 10:
    plt.figure(figsize=(8, 6))
    sns.countplot(x=target_variable, data=data)
    plt.title('Class Distribution')
    plt.xlabel(target_variable)
    plt.ylabel('Count')
    plt.show()
else:
    print("Target variable is not categorical or has too many unique values to visualize class distribution.")

NameError: name 'data' is not defined

In [54]:
# Logistic Regression â€“ good for interpretability
# Strip any whitespace from column names
df.rename(columns=lambda x: x.strip(), inplace=True)

In [56]:
# Drop the 'Patient_ID' column if it exists
df.drop(["Patient_ID"], axis=1, inplace=True, errors="ignore")

In [58]:
# Print column names after dropping
print("Columns after dropping 'Patient_ID':")
print(df.columns)

Columns after dropping 'Patient_ID':
Index(['Age', 'Gender', 'Diabetes', 'Hypertension', 'Obesity', 'Smoking',
       'Alcohol_Consumption', 'Physical_Activity', 'Diet_Score',
       'Cholesterol_Level', 'Triglyceride_Level', 'LDL_Level', 'HDL_Level',
       'Systolic_BP', 'Diastolic_BP', 'Air_Pollution_Exposure',
       'Family_History', 'Stress_Level', 'Healthcare_Access',
       'Heart_Attack_History', 'Emergency_Response_Time', 'Annual_Income',
       'Health_Insurance', 'Heart_Attack_Risk', 'State_Name_Arunachal Pradesh',
       'State_Name_Assam', 'State_Name_Bihar', 'State_Name_Chhattisgarh',
       'State_Name_Goa', 'State_Name_Gujarat', 'State_Name_Haryana',
       'State_Name_Himachal Pradesh', 'State_Name_Jharkhand',
       'State_Name_Karnataka', 'State_Name_Kerala',
       'State_Name_Madhya Pradesh', 'State_Name_Maharashtra',
       'State_Name_Manipur', 'State_Name_Meghalaya', 'State_Name_Mizoram',
       'State_Name_Nagaland', 'State_Name_Odisha', 'State_Name_Punjab',
       'State_Name_Rajasthan', 'State_Name_Sikkim', 'State_Name_Tamil Nadu',
       'State_Name_Telangana', 'State_Name_Tripura',
       'State_Name_Uttar Pradesh', 'State_Name_Uttarakhand',
       'State_Name_West Bengal'],
      dtype='object')

In [60]:
# Split features and target
X = df.drop("Heart_Attack_Risk", axis=1)
y = df["Heart_Attack_Risk"]

In [62]:
# Step 5: Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [64]:
# Step 6: Feature Scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [66]:
# Step 1: One-hot encode categorical columns
df = pd.get_dummies(df, drop_first=True)

In [68]:
# Step 2: Split features and target
X = df.drop("Heart_Attack_Risk", axis=1)
y = df["Heart_Attack_Risk"]

In [70]:
# Step 3: Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [72]:
# Step 4: Feature Scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [5]:
# # Step 5: Train the Model (Logistic Regression)
# model = LogisticRegression()
# model.fit(X_train_scaled, y_train)

In [3]:
# # Step 6: Make Predictions on Test Data
# y_pred = model.predict(X_test_scaled)

In [1]:
# # 1. Accuracy Score
# accuracy = accuracy_score(y_test, y_pred)
# print(f"Test Accuracy: {accuracy:.2f}")